.woocommerce form.login {
    border: none;
}

.woocommerce>h2 {
    display: none;
}

.woocommerce {
    display     : flex;
    flex-wrap   : wrap;
    margin-right: -15px;
    margin-left : -15px;
}

.woocommerce form.login {
    display     : flex;
    flex-wrap   : wrap;
    width: 100%;
}

.woocommerce form .woocommerce-form-row--wide {
    position     : relative;
    width        : 100%;
    padding-right: 15px;
    padding-left : 15px;
    flex         : 0 0 100%;
    max-width    : 100%;
}

.woocommerce form .woocommerce-form-row--wide {
    position     : relative;
    width        : 100%;
    padding-right: 15px;
    padding-left : 15px;
    flex         : 0 0 100%;
    max-width    : 100%; 
}

.woocommerce form .woocommerce-form-row--wide label{
    text-align: left;
    color: #fff;
    width: 100%;
}

@media (min-width: 992px) {
    .woocommerce form .woocommerce-form-row--wide {
        flex     : 0 0 37.5%;
        max-width: 37.5%
    }
}

.woocommerce form .form-row {
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding: 15px;
    padding-left: 0;
    margin: 0;
}

.woocommerce form p:nth-of-type(3) {
    display: flex;
    align-items: flex-end;
    flex     : 0 0 100%;
    max-width: 100%
}

@media (min-width: 992px) {
    .woocommerce form p:nth-of-type(3){
        flex         : 0 0 25%;
        max-width    : 25%;
    }
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
    display: none !important;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
    height: 52px;
    width : 100%;
    margin: 0;
    background     : linear-gradient(to top, #FFAB24, #FFCC54);
    color          : #fff !important;
    border-radius  : 1.25rem;
    border         : none;
    outline        : none;
    box-shadow     : none;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

p.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide span.password-input{
    width: 100%;
}   

form.login{
    background: #61AAE5;
    padding: 30px !important;
    border-radius: 1.25rem!important;
    width: auto;
}

p.woocommerce-LostPassword.lost_password, p.woocommerce-LostPassword.lost_password a{
    margin: 0;
    color: #fff;
}

.u-column1.col-1 h2 {
    display: none;
}

.woocommerce-billing-fields__field-wrapper>p>span{
    width: 100%;
}